/* Webfont: Univers-BoldOblique */@font-face {
    font-family: 'BOUnivers65BoldOblique';
    src: url('Univers-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('Univers-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Univers-BoldOblique.woff') format('woff'), /* Modern Browsers */
         url('Univers-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Univers-BoldOblique.svg#Univers-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

