/* Webfont: UniversS-CondensedBold */@font-face {
    font-family: 'UniversS67CondensedBold';
    src: url('UniversS-CondensedBold.eot'); /* IE9 Compat Modes */
    src: url('UniversS-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('UniversS-CondensedBold.woff') format('woff'), /* Modern Browsers */
         url('UniversS-CondensedBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('UniversS-CondensedBold.svg#UniversS-CondensedBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

