.logo{

  // 1.1594202899 ratio for SVG logo

  &.large{
		width:calc(109px * 1.1594202899);
		height:109px;
    @include background-image('logo-white');

    &.white{
      @include background-image('logo-white');
    }
	}

  &.center{
    margin:0 auto;
  }
}