/* Webfont: Univers-CondensedBoldOblique */@font-face {
    font-family: 'Univers67CondensedBoldObl';
    src: url('Univers-CondensedBoldOblique.eot'); /* IE9 Compat Modes */
    src: url('Univers-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Univers-CondensedBoldOblique.woff') format('woff'), /* Modern Browsers */
         url('Univers-CondensedBoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Univers-CondensedBoldOblique.svg#Univers-CondensedBoldOblique') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

